@import './generalStyles.scss';

.Circular-Button {
  color: $text-secondary;
  background-color: $bg-circle-button;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  @include flex-row-center;
}

.Circular-Button-Over {
  @extend .Circular-Button;
  color: $white;
  background-color: $primary-color;
  cursor: pointer;
}

.Circular-Button-Selected {
  @extend .Circular-Button;
  color: $white;
  background-color: $bg-circle-selected;
}