.Rating-Container {
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 19%, 18%);
  height: 21rem;
  width: 21rem;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 25px;
}

.Rating-Buttons {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Submit-Button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border: 0;
  width: 100%;
  height: 45px;
  border-radius: 25px
}

.Submit-Button-Over {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
  border: 0;
  width: 100%;
  height: 45px;
  border-radius: 25px;
  cursor: pointer;
}