@import './generalStyles.scss';

.Thank-Container {
  @extend .Container;
  @include flex-column-center;
}

.Value-Selected-Box {
  color: $primary-color;
  background-color: $bg-circle-button;
  border-radius: 25px;
  width: auto;
  padding: 0.5rem 1rem;
}

.Image {
  margin: 1rem;
}