@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.App {
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}